	<!-- 版權欄 -->

<div class="container" style="margin-top:30px;border-top: 1px solid #D9D9D9;">
	<div id="footer">
	    <dl class="foot">
	        <dt>關於我們</dt>
	        <dd>
	            <img src="{{url_for('static',filename='/images/LineBot_QRCode.jpg')}}" alt="Line官方帳號">
	            <span>Line官方帳號</span>
	        </dd>
	    </dl>
	</div>
</div>
<footer id="mr-footer" class="wrap mr-footer">
	<section class="mr-copyright">
		<div class="container">
			<div style="width:auto; height:auto; margin:auto;">
				<small> Copyright &copy;&nbsp;鑽石滿滿希望無限公司&nbsp;&nbsp; | &nbsp;&nbsp;Email：<a
					href="mailto:LoveAndPeace@fintect.com">LoveAndPeace@fintect.com</a>
					&nbsp;&nbsp;電話：02-1234567&nbsp;&nbsp;|&nbsp;&nbsp;地址：台北市大安區復興南路二段237號4樓&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{{url_for('a_login')}}">管理系統</a>
				</small> 
			</div>
		</div>
	</section>
</footer>