{% extends "home/common.html" %}
{% block content %}
	<!-- //網站頭部 -->
    <div id="mr-mainbody" class="container mr-mainbody">
        <div class="row">
            <!-- 頁面主體內容 -->
            <div id="mr-content" class="mr-content col-xs-12">
                <div id="mrshop" class="mrshop common-home">
                    <div class="container_oc">
                        <div class="row">
                            <div  class="col-sm-12">
                                <h1>我的收藏清單</h1>
                                <!-- 顯示購物車中的商品 -->
                                <div class="table-responsive cart-info">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <td class="text-center image">商品圖片</td>
                                                <td class="text-left name">商品名稱</td>
                                                <td class="text-right price">單價</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <!-- 遍歷購物車中的商品並顯示 -->
                                            {% for item in love %}
                                             <tr>
                                                <td class="text-center image" width="20%">
                                                    <a href="{{url_for('goods_detail',id=item.goods.id)}}">
                                                    <img width="80px" src="{{url_for('static',filename='images/goods/'+item.goods.picture)}}"> </a>
                                                </td>
                                                <td class="text-left name">
                                                    <a href="{{url_for('goods_detail',id=item.goods.id)}}">{{item.goods.name}}</a>
                                                </td>
                                                <td class="text-right price">{{item.goods.current_price}}元</td>
                                            </tr>
                                            {% endfor %}
                                            <!-- //遍歷購物車中的商品並顯示 -->
                                        </tbody>
                                    </table>
                                </div>
                                <!-- //顯示購物車中的商品 -->
                            </div>
                        </div>                   
                    </div>
                </div>
                <br />
                        <!-- //清空收藏button -->
                        
                                <div class="buttons">
                                    <div class="pull-right">
                                        <a href="{{url_for('love_clear')}}" class="btn btn-primary btn-default">清空收藏清單</a>
                                    </div>
                                </div>
                           
                        <!-- //清空收藏button -->
                    </div>
                </div>
            </div>
            <!-- //頁面主體內容 -->
        </div>
    </div>
{% endblock %}
