{% extends "home/common.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
            
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jewelry Cloud</title>

    <!-- JQuery連結 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- css連結 -->
    <link rel="stylesheet" href="{{url_for('static',filename='home/css/style.css')}}" type="text/css">
    <!-- JS連結 -->
    <script src="{{url_for('static',filename='home/js/script.js')}}"></script>
    <!-- FontAwesome 連結-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <!-- Bootstrap 連結 -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous"> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">

    <!-- Demo styles -->
    <style>
        .swiper {
          width: 100%;
          height: 100%;
        }
  
        .swiper-slide {
          text-align: center;
          font-size: 18px;
          background: #fff;
  
          /* Center slide text vertically */
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
        }
  
        .swiper-slide img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

 
    </style><style>
        .swiper {
          width: 100%;
          height: 100%;
        }
  
        .swiper-slide {
          text-align: center;
          font-size: 18px;
          background: #fff;
  
          /* Center slide text vertically */
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
        }
  
        .swiper-slide img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
    
    #basic-price{
        width: 20%;
    }

    #basic-age{
        width: 20%;
    }

    .age{
        margin-top: 4%;
    }

    .submitrecommand{
        margin-top: 4%;
        margin-left: 8%;
    }
    
    .recommandt{
        margin-left: 11%;
        margin-top: 1%;
    }
   
</style>
</head>
                
            
<body>
<div class="container-all ">
    <!-- 左邊 -->
    <div class="container-left ">
        <!-- 導覽列 -->
        <nav id="sidebar">
            
        
            <div class="bar">
                <form id="createdForm" action="predict" method="post" style="margin: 20px;">
        
                    <label>收入(income)</label>
                    <select class="form-select" aria-label="Default select example" name="income" style="width: 200px;">
                        <option selected>請選擇</option>
                        <option value="<=50K"><=50K</option>
                        <option value=">50K">>50K</option>
                    </select>
                
                    <label>性別(Sex)</label>
                    <select class="form-select" aria-label="Default select example" name="sex" style="width: 200px;">
                        <option selected>請選擇</option>
                        <option value="Men">Male</option>
                        <option value="Women">Female</option>
                        <option value="Unisex">Unisex</option>
                    </select>
                
                    <label>材質屬性(Material)</label>
                    <select class="form-select" aria-label="Default select example" name="material" style="width: 200px;">
                        <option selected>請選擇</option>
                        <option value="Gold 14ct">Gold 14ct</option>
                        <option value="Gold 18ct">Gold 18ct</option>
                        <option value="Stainless Steel">Stainless Steel</option>
                        <option value="Silver">Silver</option>
                        <option value="Metal Alloy">Metal Alloy</option>
                        <option value="Brass">Brass</option>
                        <option value="Gold 9ct">Gold 9ct</option>
                        <option value="Wood">Wood</option>
                    </select>
            
                    <label>品牌(Brand)</label>
                    <select class="form-select" aria-label="Default select example" name="brand" style="width: 200px;">
                        <option selected>請選擇</option>
                        <option value="Haritidis">Haritidis</option>
                        <option value="Nomination">Nomination</option>
                        <option value="Paul Hewitt">Paul Hewitt</option>
                        <option value="PDPAOLA">PDPAOLA</option>
                        <option value="Fossil">Fossil</option>
                        <option value="Lily & Rose">Lily & Rose</option>
                        <option value="Very Gavello">Very Gavello</option>
                        <option value="Tommy Hilfiger">Tommy Hilfiger</option>
                        <option value="Rosso Amante">Rosso Amante</option>
                        <option value="Vogue">Vogue</option>
                        <option value="JCou">JCou</option>
                        <option value="Gloria Hope">Gloria Hope</option>
                        <option value="Daniel Wellington Jewelry">Daniel Wellington Jewelry</option>
                        <option value="Guess">Guess</option>
                        <option value="Dyrberg/Kern">Dyrberg/Kern</option>
                        <option value="Bronzallure">Bronzallure</option>
                        <option value="Pesavento">Pesavento</option>
                        <option value="Ania Haie">Ania Haie</option>
                        <option value="Just Cavalli">Just Cavalli</option>
                        <option value="Michael Kors">Michael Kors</option>
                        <option value="Montegrappa">Montegrappa</option>
                        <option value="Ascot">Ascot</option>
                        <option value="Skagen">Skagen</option>
                        <option value="Vitaly">Vitaly</option>
                        <option value="Cluse">Cluse</option>
                        <option value="Boss">Boss</option>
                        <option value="Police">Police</option>
                        <option value="Sector">Sector</option>
                        <option value="Carlo Visconti">Carlo Visconti</option>
                        <option value="UomOro">UomOro</option>
                    </select>
            
                    <label>色澤(color)</label>
                    <select class="form-select" aria-label="Default select example" name="color" style="width: 200px;">
                        <option selected>請選擇</option>
                        <option value="Gold">Gold</option>
                        <option value="White">White</option>
                        <option value="Rose">Rose</option>
                        <option value="White & Gold">White & Gold</option>
                        <option value="White & Rose">White & Rose</option>
                        <option value="Black">Black</option>
                        <option value="White, Gold & Rose">White, Gold & Rose</option>
                        <option value="Gunmetal">Gunmetal</option>
                        <option value="Rose & Black">Rose & Black</option>
                        <option value="Gold & Rose">Gold & Rose</option>
                    </select>
                    
                    <label for="basic-price" class="form-label">購買預算(price)
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        年紀(age)</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="basic-price" aria-describedby="basic-addon1" name="price" style="width: 200px;">
                    </div>
                    <div class="input-group mb-3"  style="margin-left: 20px;">
                        <input type="text" class="form-control" id="basic-age" aria-describedby="basic-addon2" name="age" style="width: 200px;">
                    </div>
            </div>        
        </nav>
    </div>

    <!-- 右邊 -->

    <div class="container-right">
        <div class="container-fluid" >
            <!-- <div class="nav justify-content-end">
                <a href="./static/login/popup.html"><img src="./static/imgs/loginin.jpg"></a>
            </div>   -->
            <div class="nav justify-content-start">
            </div>       
        </div>
            <nav class="container mr-masstop  hidden-sm hidden-xs">
                <div class="custom">
                    <div>
                        <div class="ja-tabswrap default" style="width: 100%;">
                            <div id="myTab" class="container">
                                <div class="chapter">
                                    <a name="topic3" class="nivo-imageLink3"></a>
                                </div>
                                <h3 class="index_h3">
                                    <span class="index_title">推薦結果</span>
                                </h3>
                                <!-- //最新上架選項卡 -->
                                <div class="ja-tab-content ja-tab-content col-6 active"
                                    style="opacity: 1; width: 100%; visibility: visible;">
                                    <div class="ja-tab-subcontent">
                                        <div class="mijoshop">
                                            <div class="container_oc">
                                                <div class="row">
                                                    <!-- 循環顯示最新上架商品 ：添加12條商品信息-->
                                                    {% for item in new_goods %}
                                                    <div class="product-grid col-lg-2 col-md-3 col-sm-6 col-xs-12">
                                                        <div class="product-thumb transition">
                                                            <div class="actions">
                                                                <div class="image">
                                                                    <a href="/goods_detail/{{item.id}}?type={{item.supercat_id}}">
                                                                        <img src="{{url_for('static',filename='images/goods/'+item.picture)}}" alt="{{item.name}}" class="img-responsive">
                                                                    </a>
                                                                </div>
                                                                <div class="button-group">
                                                                    <div class="cart">
                                                                        <button class="btn btn-primary btn-primary" type="button"
                                                                            data-toggle="tooltip"
                                                                            onclick='javascript:window.location.href="/cart_add/?goods_id={{item.id}}&number=1"; '
                                                                            style="display: none; width: 33.3333%;"
                                                                            data-original-title="加入到購物車">
                                                                            <i class="fa fa-shopping-cart"></i>
                                                                        </button>
                                                                    
                                                                    <!-- # new!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!	 -->
                                                                        
                                                                        <button class="btn btn-primary btn-primary"
                                                                                type="button" data-toggle="tooltip"
                                                                                onclick='javascript:window.location.href="/love_add/?goods_id={{item.id}}&number=1"; '
                                                                                style=" width: 33.3333%;"
                                                                                data-original-title="收藏">
                                                                                <i class="fa fa-heart"></i>
                                                                        </button>
                                                                    <!-- # new!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="caption">
                                                                <div class="name" style="height: 20px">
                                                                    <a href="/goods_detail/{{item.id}}?type={{item.supercat_id}}" style="width: 95%">
                                                                        品名：{{item.name}}</a>
                                                                </div>
                                                                <div class="name" style="margin-top: 10px">
                                                                    <span style="color: #0885B1">分類：</span>{{item.subcat.cat_name}}
                                                                </div>
                                                                <span class="price"> 特價：{{item.current_price}} 元
                                                                </span><br> <span class="oldprice">原價：{{item.original_price}}元
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                    
                                                    <!-- //循環顯示最新上架商品：添加12條商品信息 -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- //最新上架選項卡 -->
            
        </div>
    </div>
</div>
 <!-- Swiper JS -->
 <!-- <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script> -->

 <!-- Initialize Swiper -->
 <!-- <script>
   var swiper = new Swiper(".mySwiper", {
     slidesPerView: 4,
     spaceBetween: 30,
     slidesPerGroup: 4,
    //  loop: true,
     loopFillGroupWithBlank: true,
     pagination: {
       el: ".swiper-pagination",
       clickable: true,
     },
     navigation: {
       nextEl: ".swiper-button-next",
       prevEl: ".swiper-button-prev",
     },
   });
 </script> -->


</body>
</html>

{% endblock %}
