{% extends "home/common.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
            
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jewelry Cloud</title>

    <!-- JQuery連結 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- css連結 -->
    <link rel="stylesheet" href="{{url_for('static',filename='home/css/style.css')}}" type="text/css">
    <!-- JS連結 -->
    <script src="{{url_for('static',filename='home/js/script.js')}}"></script>
    <!-- FontAwesome 連結-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <!-- Bootstrap 連結 -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous"> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">

    <!-- Demo styles -->
    <style>
        .swiper {
          width: 100%;
          height: 100%;
        }
  
        .swiper-slide {
          text-align: center;
          font-size: 18px;
          background: #fff;
  
          /* Center slide text vertically */
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
        }
  
        .swiper-slide img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

 
    </style>
</head>
                
            
<body>
<div class="container-all ">
    <!-- 左邊 -->
    <div class="container-left ">
        <!-- 導覽列 -->
        <nav id="sidebar">
            <div class="img-wrap">
                <a href="#"><img src="{{url_for('static',filename='images/dog.jpg')}}" alt=""></a>    
            </div>
            <div class="username">
                <a href="#">{{session['username']}}</a>
            </div>
            
        
            <div class="bar">
                <ul class="nav-item">
                    <button class="btn d-inline-flex align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#sex-collapse" aria-expanded="false">
                        款式分類
                    </button>     
                    <ul class="collapse" id="sex-collapse">
                        <div class="list-unstyled">
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">男用</a>
                            </div>
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">女用</a>
                            </div>
                        </div>
                    </ul>
                </ul>
                <ul class="nav-item">
                    <button class="btn d-inline-flex align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#jewel_type-collapse" aria-expanded="false">
                        飾品類別
                    </button>     
                    <ul class="collapse" id="jewel_type-collapse">
                        <div class="list-unstyled">
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">戒指</a>
                            </div>
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">耳環</a>
                            </div>
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">項鍊</a>
                            </div>
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">手環</a>
                            </div>
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">胸針</a>
                            </div>
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">袖扣</a>
                            </div>
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">吊墜</a>
                            </div>
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">鑰匙圈</a>
                            </div>
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">十字架</a>
                            </div>
                            <odiv>
                                <a href="#" class="d-inline-flex align-items-center rounded">宗教珠寶</a>
                            </odiv>
                        </div>
                    </ul>
                </ul>

                <ul class="nav-item">
                    <button class="btn d-inline-flex align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#brand-collapse" aria-expanded="false">
                        品牌
                    </button>     
                    <ul class="collapse" id="brand-collapse">
                        <div class="list-unstyled">
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">Ania Haie</a>
                            </div>
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">Ascot</a>
                            </div>
                            <div>
                               <a href="#" class="d-inline-flex align-items-center rounded">Boss</a>
                            </div>
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">Bronzallure</a>
                            </div>
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">Carlo Visconti</a>
                            </div>
                            <div>
                               <a href="#" class="d-inline-flex align-items-center rounded">Cluse</a>
                            </div>
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">Daniel Wellington Jewelry</a>
                            </div>
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">Dyrberg/Kern</a>
                            </div>
                            <div>
                               <a href="#" class="d-inline-flex align-items-center rounded">Fossil</a>
                            </div>
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">Gloria Hope</a>
                            </div>
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">Guess</a>
                            </div>
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">Haritidis</a>
                            </div>
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">JCou</a>
                            </div>
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">Just Cavalli</a>
                            </div>
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">Lily & Rose</a>
                            </div>
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">Michael Kors</a>
                            </div>
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">Montegrappa</a>
                            </div>
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">Nomination</a>
                            </div>
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">Paul Hewitt</a>
                            </div>
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">PDPAOLA</a>
                            </div>
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">Pesavento</a>
                            </div>
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">Police</a>
                            </div>
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">Rosso Amante</a>
                            </div>
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">Sector</a>
                            </div>
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">Skagen</a>
                            </div>
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">Tommy Hilfiger</a>
                            </div>
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">UomOro</a>
                            </div>
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">Very Gavello</a>
                            </div>
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">Vitaly</a>
                            </div>
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">Vogue</a>
                            </div>
                        </div>
                    </ul>
                </ul>
                 
                <ul class="nav-item">
                    <button class="btn d-inline-flex align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#material-collapse" aria-expanded="false">
                        材質
                    </button>     
                    <ul class="collapse" id="material-collapse">
                        <div class="list-unstyled ">
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">黃銅</a>
                            </div>
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">白銀</a>
                            </div>
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">黃金</a>
                            </div>
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">合金</a>
                            </div>
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">不鏽鋼</a>
                            </div>
                        </div>
                    </ul>
                </ul>

                <ul class="nav-item">
                    <button class="btn d-inline-flex align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#rocks-collapse" aria-expanded="false">
                        鑲嵌珠寶
                    </button>     
                    <ul class="collapse" id="rocks-collapse">
                        <div class="list-unstyled">
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">鑽石</a>
                            </div>
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">瑪瑙</a>
                            </div>
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">石英</a>
                            </div>
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">綠松石</a>
                            </div>
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">綠寶石</a>
                            </div>
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">藍寶石</a>
                            </div>
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">紅寶石</a>
                            </div>
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">水晶</a>
                            </div>
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">玉髓</a>
                            </div>
                        </div>
                    </ul>
                </ul>

                <ul class="nav-item dropown">
                    <button class="btn d-inline-flex align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#price-collapse" aria-expanded="false">
                        價格區間
                    </button>     
                    <ul class="collapse" id="price-collapse">
                        <div class="list-unstyled">
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">1-1000</a>
                            </div>
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">1001-2000</a>
                            </div>
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">2001-3000</a>
                            </div>
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">3001-4000</a>
                            </div>
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">4001-5000</a>
                            </div>
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">5001-6000</a>
                            </div>
                            <div>
                                <a href="#" class="d-inline-flex align-items-center rounded">>6001</a>
                            </div>
                        </div>
                    </ul>
                </ul>
                
            </div>        
        </nav>
    </div>

    <!-- 右邊 -->
    <div class="container-right">
        <div class="container-fluid" >
            <!-- <div class="nav justify-content-end">
                <a href="./static/login/popup.html"><img src="./static/imgs/loginin.jpg"></a>
            </div>   -->
            <div class="nav justify-content-start">
            </div>       
        </div>

        <div class="mytreasure">
            <ul >
                <h4 style="padding-top: 10px; padding-bottom: 3px;">已收藏</h4>
                <hr>
                <div id="home">
                    <!-- Swiper -->
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><img src="{{url_for('static',filename='images/goods/1.jpg')}}"></div>
                            <div class="swiper-slide"><img src="{{url_for('static',filename='images/goods/2.jpg')}}"></div>
                            <div class="swiper-slide"><img src="{{url_for('static',filename='images/goods/3.jpg')}}"></div>
                            <div class="swiper-slide"><img src="{{url_for('static',filename='images/goods/4.jpg')}}"></div>
                            <div class="swiper-slide"><img src="{{url_for('static',filename='images/goods/5.jpg')}}"></div>
                            <div class="swiper-slide"><img src="{{url_for('static',filename='images/goods/6.jpg')}}"></div>
                            <div class="swiper-slide"><img src="{{url_for('static',filename='images/goods/7.jpg')}}"></div>
                            <div class="swiper-slide"><img src="{{url_for('static',filename='images/goods/8.jpg')}}"></div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>    
                </div>
            </ul>

            <ul>
                <h4 style="padding-top: 10px; padding-bottom: 3px;">已上架</h4>
                <hr>
                <div id="menu1">
                    <!-- Swiper -->
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><img src="{{url_for('static',filename='images/goods/9.jpg')}}"></div>
                            <div class="swiper-slide"><img src="{{url_for('static',filename='images/goods/2.jpg')}}"></div>
                            <div class="swiper-slide"><img src="{{url_for('static',filename='images/goods/3.jpg')}}"></div>
                            <div class="swiper-slide"><img src="{{url_for('static',filename='images/goods/4.jpg')}}"></div>
                            <div class="swiper-slide"><img src="{{url_for('static',filename='images/goods/5.jpg')}}"></div>
                            <div class="swiper-slide"><img src="{{url_for('static',filename='images/goods/6.jpg')}}"></div>
                            <div class="swiper-slide"><img src="{{url_for('static',filename='images/goods/7.jpg')}}"></div>
                            <div class="swiper-slide"><img src="{{url_for('static',filename='images/goods/8.jpg')}}"></div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>    
                </div>
            </ul>

            <!-- <ul>
                <h4 style="padding-top: 10px; padding-bottom: 3px;">訂單查詢</h4>
                <hr>
                <div id="menu2" class="tab-pane fade">
                    Swiper
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><img src="{{url_for('static',filename='images/goods/10.jpg')}}"></div>
                            <div class="swiper-slide"><img src="{{url_for('static',filename='images/goods/2.jpg')}}"></div>
                            <div class="swiper-slide"><img src="{{url_for('static',filename='images/goods/3.jpg')}}"></div>
                            <div class="swiper-slide"><img src="{{url_for('static',filename='images/goods/4.jpg')}}"></div>
                            <div class="swiper-slide"><img src="{{url_for('static',filename='images/goods/5.jpg')}}"></div>
                            <div class="swiper-slide"><img src="{{url_for('static',filename='images/goods/6.jpg')}}"></div>
                            <div class="swiper-slide"><img src="{{url_for('static',filename='images/goods/7.jpg')}}"></div>
                            <div class="swiper-slide"><img src="{{url_for('static',filename='images/goods/8.jpg')}}"></div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </ul> -->
            
        </div>
    </div>
</div>
 <!-- Swiper JS -->
 <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

 <!-- Initialize Swiper -->
 <script>
   var swiper = new Swiper(".mySwiper", {
     slidesPerView: 4,
     spaceBetween: 30,
     slidesPerGroup: 4,
    //  loop: true,
     loopFillGroupWithBlank: true,
     pagination: {
       el: ".swiper-pagination",
       clickable: true,
     },
     navigation: {
       nextEl: ".swiper-button-next",
       prevEl: ".swiper-button-prev",
     },
   });
 </script>



</body>
</html>

{% endblock %}
