body{
    background-image: url('./imgs/backgroud_banner.jpg');
    /* background-size: cover; */
    padding-bottom: 49%;
}

.container-all {
    display: flex;
    align-items: stretch;
}

.container-left{
    position:absolute; 
    top:15%; 
    left:45%;
}

.title{
    position:absolute; 
    top:31%; 
    left:40%;    
}

.line{
    position:fixed; 
    top:35%; 
    left:93%;
}
.line img{
    border-radius: 100%;
}

.container-right {
    background-color:white;
    width: 35%;
    height: 45%;
    padding: 1% 7% 1% 7%;
    text-align: center;
    position:absolute; 
    top:40%; 
    left:32%;
}

.modal-header h4{
    padding-left: 34%;    
}

.signup{
    padding-right: 21%;
}