<!DOCTYPE html>
<html lang="en">
            
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIAMOND CLOUD</title>

    <!-- JQuery連結 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- css連結 -->
    <link rel="stylesheet" href="../static/home.css">
    <!-- JS連結 -->
    <!-- <script src="../static/script.js"></script> -->
    <!-- FontAwesome 連結 -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"> -->
    <!-- Bootstrap 連結 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
   
    <!-- <link rel="stylesheet" href="./slick-1.8.1/slick/slick.css">
    <link rel="stylesheet" href="./slick-1.8.1/slick/slick-theme.css"> -->

     <!-- Link Swiper's CSS -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">

    
    <style>
        .swiper {
          width: 100%;
          height: 100%;
        }
  
        .swiper-slide {
          text-align: center;
          font-size: 18px;
          background: none;
  
          /* Center slide text vertically */
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
        }
  
        .swiper-slide img {
          display: block;
          width: 50%;
          height: 50%;
          object-fit: cover;
        }

    .wrap{
        font-size: 0px;
    }

    .card{
        box-sizing: border-box;
        display: inline-block;
        width: 25%;
        margin-top: 5px;
        margin-left: 3px;
    }

    .img-wrap img{
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    h3{
        font-size: 20px;
    }

    p{
        font-size: 16px;
    }

    span{
        color: pink;
    }
    </style>

</head>
                
            
<body>
<nav class="sticky-top">
    <!-- <a class="logo" href="#"><img src="../static/imgs/logo/logo_title_white.png" alt=""></a> -->
    <div class="link">
        <a class="b1" href="{{ url_for('home') }}"><img src="../static/imgs/button/main.png" title="首頁"></a>
        <a class="b2" href="{{ url_for('knowledge') }}"><img src="../static/imgs/button/knowledge.png" title="知識中心"></a>    
        <a class="b3" href="{{ url_for('login') }}"><img src="../static/imgs/button/user.png" title="會員中心"></a>
        <a class="b4" href="#"><img src="../static/imgs/button/shopping_cart.png" title="購物車"></a>
        </div>
    </div>
</nav>
<div class="line"><a href="#"><img src="../static/imgs/button/line.png"></a></div>
<div class="container">
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="../static/imgs/diamondbanner.jpg"></div>
            <div class="swiper-slide"><img src="../static/imgs/diamondbanner.jpg"></div>
            <div class="swiper-slide"><img src="../static/imgs/diamondbanner.jpg"></div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
</div>
    <!-- <div class="your-class">
        <div>
            <img src="../static/imgs/diamondbanner.jpg" alt="">
        </div>
        <div>
            <img src="../static/imgs/diamondbanner.jpg" alt="">
        </div>
        <div>
            <img src="../static/imgs/diamondbanner.jpg" alt="">
        </div>
        
    </div> -->
</div>   
<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper(".mySwiper", {
    slidesPerView: 1,
    spaceBetween: 30,
    slidesPerGroup: 1,
    loop: true,
    loopFillGroupWithBlank: true,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>
<!-- <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script> -->
<!-- <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script> -->
<!-- <script src="./slick-1.8.1/slick/slick.min.js"></script> -->

<!-- <script>
    $('.your-class').slick({
dots: true,
infinite: true,
speed: 300,
slidesToShow: 1,
adaptiveHeight: false

});
</script> -->

<div class="container-all ">
    <div class="container-right">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="ring-tab" data-bs-toggle="tab" data-bs-target="#ring" type="button" role="tab" aria-controls="ring" aria-selected="true">戒指</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="wristband-tab" data-bs-toggle="tab" data-bs-target="#wristband" type="button" role="tab" aria-controls="wristband" aria-selected="false">手環</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="necklace-tab" data-bs-toggle="tab" data-bs-target="#necklace" type="button" role="tab" aria-controls="necklace" aria-selected="false">項鍊</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="earrings-tab" data-bs-toggle="tab" data-bs-target="#earrings" type="button" role="tab" aria-controls="earrings" aria-selected="false">耳環</button>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="ring" role="tabpanel" aria-labelledby="ring-tab">
                <div class="wrap">
                    <div class="card">
                        <div class="img-wrap">
                            <img src="../static/imgs/jewelry/2.jpeg" alt="">
                        </div>
                        <h3>莓果鬆餅</h3>
                        <p>戶外<span>下午茶最值得推薦的點心</span> ，充滿奶香的鬆餅加上酸甜莓果，大人小孩看了都心動，若再配上咖啡跟美景就更完美。</p>
                    </div>
                
                    <div class="card">
                        <div class="img-wrap">
                            <img src="../static/imgs/jewelry/5.jpeg" alt="">
                        </div>
                        <h3>莓果鬆餅</h3>
                        <p>戶外<span>下午茶最值得推薦的點心</span> ，充滿奶香的鬆餅加上酸甜莓果，大人小孩看了都心動，若再配上咖啡跟美景就更完美。</p>
                    </div>
                
                    <div class="card">
                        <div class="img-wrap">
                            <img src="../static/imgs/jewelry/6.jpeg" alt="">
                        </div>
                        <h3>莓果鬆餅</h3>
                        <p>戶外<span>下午茶最值得推薦的點心</span> ，充滿奶香的鬆餅加上酸甜莓果，大人小孩看了都心動，若再配上咖啡跟美景就更完美。</p>
                    </div>
                
                    <div class="card">
                        <div class="img-wrap">
                            <img src="../static/imgs/jewelry/7.jpeg" alt="">
                        </div>
                        <h3>莓果鬆餅</h3>
                        <p>戶外<span>下午茶最值得推薦的點心</span> ，充滿奶香的鬆餅加上酸甜莓果，大人小孩看了都心動，若再配上咖啡跟美景就更完美。</p>
                    </div>
                
                    <div class="card">
                        <div class="img-wrap">
                           <img src="../static/imgs/jewelry/9.jpeg" alt="">
                        </div>
                        <h3>莓果鬆餅</h3>
                        <p>戶外<span>下午茶最值得推薦的點心</span> ，充滿奶香的鬆餅加上酸甜莓果，大人小孩看了都心動，若再配上咖啡跟美景就更完美。</p>
                    </div>

                    <div class="card">
                        <div class="img-wrap">
                            <img src="../static/imgs/jewelry/10.jpg" alt="">
                        </div>
                        <h3>莓果鬆餅</h3>
                        <p>戶外<span>下午茶最值得推薦的點心</span> ，充滿奶香的鬆餅加上酸甜莓果，大人小孩看了都心動，若再配上咖啡跟美景就更完美。</p>
                    </div>

                    <div class="card">
                        <div class="img-wrap">
                            <img src="../static/imgs/jewelry/12.jpg" alt="">
                        </div>
                        <h3>莓果鬆餅</h3>
                        <p>戶外<span>下午茶最值得推薦的點心</span> ，充滿奶香的鬆餅加上酸甜莓果，大人小孩看了都心動，若再配上咖啡跟美景就更完美。</p>
                    </div>

                    <div class="card">
                        <div class="img-wrap">
                            <img src="../static/imgs/jewelry/14.jpg" alt="">
                        </div>
                        <h3>莓果鬆餅</h3>
                        <p>戶外<span>下午茶最值得推薦的點心</span> ，充滿奶香的鬆餅加上酸甜莓果，大人小孩看了都心動，若再配上咖啡跟美景就更完美。</p>
                    </div>

                    <div class="card">
                        <div class="img-wrap">
                            <img src="../static/imgs/jewelry/18.jpg" alt="">
                        </div>
                        <h3>莓果鬆餅</h3>
                        <p>戶外<span>下午茶最值得推薦的點心</span> ，充滿奶香的鬆餅加上酸甜莓果，大人小孩看了都心動，若再配上咖啡跟美景就更完美。</p>
                    </div>
                </div>    
            </div>    

            <div class="tab-pane fade" id="wristband" role="tabpanel" aria-labelledby="wristband-tab">
                <div class="wrap">
                    <div class="card">
                        <div class="img-wrap">
                            <img src="../static/imgs/jewelry/11.jpg" alt="">
                        </div>
                        <h3>莓果鬆餅</h3>
                        <p>戶外<span>下午茶最值得推薦的點心</span> ，充滿奶香的鬆餅加上酸甜莓果，大人小孩看了都心動，若再配上咖啡跟美景就更完美。</p>
                    </div>
                
                    <div class="card">
                        <div class="img-wrap">
                            <img src="../static/imgs/jewelry/13.jpg" alt="">
                        </div>
                        <h3>莓果鬆餅</h3>
                        <p>戶外<span>下午茶最值得推薦的點心</span> ，充滿奶香的鬆餅加上酸甜莓果，大人小孩看了都心動，若再配上咖啡跟美景就更完美。</p>
                    </div>
                
                    <div class="card">
                        <div class="img-wrap">
                            <img src="../static/imgs/jewelry/11.jpg" alt="">
                        </div>
                        <h3>莓果鬆餅</h3>
                        <p>戶外<span>下午茶最值得推薦的點心</span> ，充滿奶香的鬆餅加上酸甜莓果，大人小孩看了都心動，若再配上咖啡跟美景就更完美。</p>
                    </div>
                
                    <div class="card">
                        <div class="img-wrap">
                            <img src="../static/imgs/jewelry/11.jpg" alt="">
                        </div>
                        <h3>莓果鬆餅</h3>
                        <p>戶外<span>下午茶最值得推薦的點心</span> ，充滿奶香的鬆餅加上酸甜莓果，大人小孩看了都心動，若再配上咖啡跟美景就更完美。</p>
                    </div>
                
                    <div class="card">
                        <div class="img-wrap">
                           <img src="../static/imgs/jewelry/13.jpg" alt="">
                        </div>
                        <h3>莓果鬆餅</h3>
                        <p>戶外<span>下午茶最值得推薦的點心</span> ，充滿奶香的鬆餅加上酸甜莓果，大人小孩看了都心動，若再配上咖啡跟美景就更完美。</p>
                    </div>

                    <div class="card">
                        <div class="img-wrap">
                            <img src="../static/imgs/jewelry/11.jpg" alt="">
                        </div>
                        <h3>莓果鬆餅</h3>
                        <p>戶外<span>下午茶最值得推薦的點心</span> ，充滿奶香的鬆餅加上酸甜莓果，大人小孩看了都心動，若再配上咖啡跟美景就更完美。</p>
                    </div>

                    <div class="card">
                        <div class="img-wrap">
                            <img src="../static/imgs/jewelry/13.jpg" alt="">
                        </div>
                        <h3>莓果鬆餅</h3>
                        <p>戶外<span>下午茶最值得推薦的點心</span> ，充滿奶香的鬆餅加上酸甜莓果，大人小孩看了都心動，若再配上咖啡跟美景就更完美。</p>
                    </div>

                    <div class="card">
                        <div class="img-wrap">
                            <img src="../static/imgs/jewelry/13.jpg" alt="">
                        </div>
                        <h3>莓果鬆餅</h3>
                        <p>戶外<span>下午茶最值得推薦的點心</span> ，充滿奶香的鬆餅加上酸甜莓果，大人小孩看了都心動，若再配上咖啡跟美景就更完美。</p>
                    </div>

                    <div class="card">
                        <div class="img-wrap">
                            <img src="../static/imgs/jewelry/13.jpg" alt="">
                        </div>
                        <h3>莓果鬆餅</h3>
                        <p>戶外<span>下午茶最值得推薦的點心</span> ，充滿奶香的鬆餅加上酸甜莓果，大人小孩看了都心動，若再配上咖啡跟美景就更完美。</p>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="necklace" role="tabpanel" aria-labelledby="necklace-tab">
                <div class="wrap">
                    <div class="card">
                        <div class="img-wrap">
                            <img src="../static/imgs/jewelry/1.jpeg" alt="">
                        </div>
                        <h3>莓果鬆餅</h3>
                        <p>戶外<span>下午茶最值得推薦的點心</span> ，充滿奶香的鬆餅加上酸甜莓果，大人小孩看了都心動，若再配上咖啡跟美景就更完美。</p>
                    </div>
                
                    <div class="card">
                        <div class="img-wrap">
                            <img src="../static/imgs/jewelry/8.jpeg" alt="">
                        </div>
                        <h3>莓果鬆餅</h3>
                        <p>戶外<span>下午茶最值得推薦的點心</span> ，充滿奶香的鬆餅加上酸甜莓果，大人小孩看了都心動，若再配上咖啡跟美景就更完美。</p>
                    </div>
                
                    <div class="card">
                        <div class="img-wrap">
                            <img src="../static/imgs/jewelry/15.jpg" alt="">
                        </div>
                        <h3>莓果鬆餅</h3>
                        <p>戶外<span>下午茶最值得推薦的點心</span> ，充滿奶香的鬆餅加上酸甜莓果，大人小孩看了都心動，若再配上咖啡跟美景就更完美。</p>
                    </div>
                
                    <div class="card">
                        <div class="img-wrap">
                            <img src="../static/imgs/jewelry/19.jpg" alt="">
                        </div>
                        <h3>莓果鬆餅</h3>
                        <p>戶外<span>下午茶最值得推薦的點心</span> ，充滿奶香的鬆餅加上酸甜莓果，大人小孩看了都心動，若再配上咖啡跟美景就更完美。</p>
                    </div>
                
                    <div class="card">
                        <div class="img-wrap">
                           <img src="../static/imgs/jewelry/1.jpeg" alt="">
                        </div>
                        <h3>莓果鬆餅</h3>
                        <p>戶外<span>下午茶最值得推薦的點心</span> ，充滿奶香的鬆餅加上酸甜莓果，大人小孩看了都心動，若再配上咖啡跟美景就更完美。</p>
                    </div>

                    <div class="card">
                        <div class="img-wrap">
                            <img src="../static/imgs/jewelry/8.jpeg" alt="">
                        </div>
                        <h3>莓果鬆餅</h3>
                        <p>戶外<span>下午茶最值得推薦的點心</span> ，充滿奶香的鬆餅加上酸甜莓果，大人小孩看了都心動，若再配上咖啡跟美景就更完美。</p>
                    </div>

                    <div class="card">
                        <div class="img-wrap">
                            <img src="../static/imgs/jewelry/15.jpg" alt="">
                        </div>
                        <h3>莓果鬆餅</h3>
                        <p>戶外<span>下午茶最值得推薦的點心</span> ，充滿奶香的鬆餅加上酸甜莓果，大人小孩看了都心動，若再配上咖啡跟美景就更完美。</p>
                    </div>

                    <div class="card">
                        <div class="img-wrap">
                            <img src="../static/imgs/jewelry/19.jpg" alt="">
                        </div>
                        <h3>莓果鬆餅</h3>
                        <p>戶外<span>下午茶最值得推薦的點心</span> ，充滿奶香的鬆餅加上酸甜莓果，大人小孩看了都心動，若再配上咖啡跟美景就更完美。</p>
                    </div>

                    <div class="card">
                        <div class="img-wrap">
                            <img src="../static/imgs/jewelry/1.jpeg" alt="">
                        </div>
                        <h3>莓果鬆餅</h3>
                        <p>戶外<span>下午茶最值得推薦的點心</span> ，充滿奶香的鬆餅加上酸甜莓果，大人小孩看了都心動，若再配上咖啡跟美景就更完美。</p>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="earrings" role="tabpanel" aria-labelledby="earrings-tab">
                <div class="wrap">
                    <div class="card">
                        <div class="img-wrap">
                            <img src="../static/imgs/jewelry/4.jpg" alt="">
                        </div>
                        <h3>莓果鬆餅</h3>
                        <p>戶外<span>下午茶最值得推薦的點心</span> ，充滿奶香的鬆餅加上酸甜莓果，大人小孩看了都心動，若再配上咖啡跟美景就更完美。</p>
                    </div>
                
                    <div class="card">
                        <div class="img-wrap">
                            <img src="../static/imgs/jewelry/11.jpg" alt="">
                        </div>
                        <h3>莓果鬆餅</h3>
                        <p>戶外<span>下午茶最值得推薦的點心</span> ，充滿奶香的鬆餅加上酸甜莓果，大人小孩看了都心動，若再配上咖啡跟美景就更完美。</p>
                    </div>
                
                    <div class="card">
                        <div class="img-wrap">
                            <img src="../static/imgs/jewelry/17.jpg" alt="">
                        </div>
                        <h3>莓果鬆餅</h3>
                        <p>戶外<span>下午茶最值得推薦的點心</span> ，充滿奶香的鬆餅加上酸甜莓果，大人小孩看了都心動，若再配上咖啡跟美景就更完美。</p>
                    </div>
                
                    <div class="card">
                        <div class="img-wrap">
                            <img src="../static/imgs/jewelry/4.jpg" alt="">
                        </div>
                        <h3>莓果鬆餅</h3>
                        <p>戶外<span>下午茶最值得推薦的點心</span> ，充滿奶香的鬆餅加上酸甜莓果，大人小孩看了都心動，若再配上咖啡跟美景就更完美。</p>
                    </div>
                
                    <div class="card">
                        <div class="img-wrap">
                           <img src="../static/imgs/jewelry/17.jpg" alt="">
                        </div>
                        <h3>莓果鬆餅</h3>
                        <p>戶外<span>下午茶最值得推薦的點心</span> ，充滿奶香的鬆餅加上酸甜莓果，大人小孩看了都心動，若再配上咖啡跟美景就更完美。</p>
                    </div>

                    <div class="card">
                        <div class="img-wrap">
                            <img src="../static/imgs/jewelry/11.jpg" alt="">
                        </div>
                        <h3>莓果鬆餅</h3>
                        <p>戶外<span>下午茶最值得推薦的點心</span> ，充滿奶香的鬆餅加上酸甜莓果，大人小孩看了都心動，若再配上咖啡跟美景就更完美。</p>
                    </div>

                    <div class="card">
                        <div class="img-wrap">
                            <img src="../static/imgs/jewelry/17.jpg" alt="">
                        </div>
                        <h3>莓果鬆餅</h3>
                        <p>戶外<span>下午茶最值得推薦的點心</span> ，充滿奶香的鬆餅加上酸甜莓果，大人小孩看了都心動，若再配上咖啡跟美景就更完美。</p>
                    </div>

                    <div class="card">
                        <div class="img-wrap">
                            <img src="../static/imgs/jewelry/11.jpg" alt="">
                        </div>
                        <h3>莓果鬆餅</h3>
                        <p>戶外<span>下午茶最值得推薦的點心</span> ，充滿奶香的鬆餅加上酸甜莓果，大人小孩看了都心動，若再配上咖啡跟美景就更完美。</p>
                    </div>

                    <div class="card">
                        <div class="img-wrap">
                            <img src="../static/imgs/jewelry/4.jpg" alt="">
                        </div>
                        <h3>莓果鬆餅</h3>
                        <p>戶外<span>下午茶最值得推薦的點心</span> ，充滿奶香的鬆餅加上酸甜莓果，大人小孩看了都心動，若再配上咖啡跟美景就更完美。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  
<div class="footer">COPYRIGHT©FinTech-AI-Project-Group3 ALL RIGHTS RESERVED</div>
</body>
</html>