<!DOCTYPE html>
<html lang="en">
            
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIAMOND CLOUD</title>

    <!-- JQuery連結 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- css連結 -->
    <link rel="stylesheet" href="../static/register.css">
   
    <!-- Bootstrap 連結 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <!-- <style>
        .top img{
            width: 121%;
        }
    

    </style> -->

</head>
                
            
<body>

<div class="container-all ">
    <!-- <div class="top"><img src="../static/imgs/background/sign_in_banner.jpg"></div> -->
    <div class="container-left ">
        <div class="header">
            <a href="#"><img src="../static/imgs/logo_diamond.png" alt=""></a>
        </div>              
    </div>

    <div class="title">
        <a href="#"><img src="../static/imgs/logo/title.png"></a>
    </div>

    <a class="line" href="#"><img src="../static/imgs/button/line.png"></a>
    
    <!-- 右邊 -->
    <div class="container-right">
        <!-- Header -->
        <div class="modal-header">
            <h4>註冊會員</h4>
        </div>
        <!-- Body -->
        <div class="modal-body">
        <!-- 註冊表單 -->
            <form action = "main" method = post>
                <!-- <div class="form-group">
                    <input type="name" class="name form-control" placeholder="Name" name = name>
                </div>
                <div class="form-group">
                    <input type="gender" class="gender form-control" placeholder="Gender" name = gender>
                </div>
                <div class="form-group">
                    <input type="age" class="age form-control" placeholder="Age" name = age>
                </div>
                <div class="form-group">
                    <input type="income" class="income form-control" placeholder="Income" name = income>
                </div> -->
                <div class="form-group">
                    <input type="email" class="account form-control" placeholder="Email" name = username>
                    <!-- value = "{{request.form.username }}" -->
                </div>
                <!-- password -->
                <div class="form-group">
                    <input type="password" class="password form-control" placeholder="Password" name = password>
                </div>
                <!-- checkbox -->
                <div class="form-group">
                    <input type="password_confirm" class="password_confirm form-control" placeholder="Check Password" name = password>
                </div>
                <!-- 送出按鈕 -->
                <input type="submit"  value="註冊" />
            </form>
        </div>    
        <!-- Footer -->
        <!-- <div class="modal-footer">
            <div class="signup">
                <span>尚未成為會員</span>
                <a href="#" type="button" class="member"> 立即加入 </a>
            </div>            
        </div>        -->
        <!-- {% if error %}
        <p><strong>Error:</strong> {{ error }}
        {% endif %}                 -->
    </div>
</div>

</body>
</html>