/* 總畫面 */
.container-all {
    display: flex;
    align-items: stretch;
}

/* logo 大頭像 帳戶名 */
/* .post{
    background-color: rgb(188, 133, 240);
    width: 250px;
    padding-bottom: 2px;
} */

/* .header{
    width: 200px;
    height: 70px;
    padding-top: 20px; 
    margin-left: 23px;
}

.header img{
    border-radius: 3px;
} */

.img-wrap{
    width: 200px; 
    height:200px; 
    background-color:#ccc;
    margin-top: 20px; 
    margin-left: 23px;
    display: inline-block;
    overflow: hidden;
    border-radius: 100px;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 1px 50%;
}

.username{
    padding: 15px;
    text-align: center;
}

.username a{
    font-size: 20px;
    color: #eaeaea;
}
.nav-item button{
    color: #eaeaea;  
}
.list-unstyled a{
    color: #eaeaea;
}
/* 左邊導覽列 */
#sidebar {
    width: 250px;
    height: 100%;
    background-color: #c5a99e;
    /* sidebar的背景色 */
    transition: 1s;
}

#sidebar.active {
    margin-left: -200px;
}

#sidebar ul ul a {
    padding: 20px;
    font-size: 20px;
    display: block;
    text-decoration: none;
    background-color: #c5a99e;
    /* 字的顏色 */
    text-align: center;
    margin-right: 10%;
    /* float: left; */
    
}


/* #sidebar ul li a:hover {
    margin-left: 20px;
    color: indigo;
    background: pink;
    /* sidebar選項框的顏色 */
/* } */

ul ul li a {
    background-color: rgb(203, 142, 247); 
    margin-left: 20px;
    /* 小選項 */
    font-size: 20px;
    font-style: italic;
} 

.nav-item button{
    margin-left: 20px;
    font-size: 22px;
    background-color: #c5a99e;
}
/* 右邊畫面 */
.container-right {
    background-color:white;
    width: 83.5%;
    /* width: 50%; */
    height: 160vh;
    text-align: center;
}

/* 連接錢包 banner 加入時間 */
.container-fluid{
    /* background-color: rgb(188, 133, 240); */
    background-image: url(../../images/banner.jpg);
    width: 100%;
    height: 187px;
    /* height: 300px;
    background-size: cover; */
    
}
.container-fluid h6 {
    margin-top: 168px;
    margin-right: 88%;
    
}

/* .banner img{
    width: 174vh;
    height: 342px;
    margin-right: -10px; */
    /* margin-top: 5px;
    margin-bottom: 2px; */
    /* padding: 30px; */
/* } */

/* .container{
    width: 140vh;
    height: 200px;
} */

/* .forecast {
    margin-top: 10px; 
    margin-left: 46px;
    margin-bottom: 10px;
    font-size: 20px;
} */
.mytreasure a{
   /* margin-top: 100px; */
   font-size: 20px;
  
}